<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
  <% if current_user.admin %>
    <%= link_to  "Admin Dashboard", admin_products_path %>
  <% end %>
  <%= link_to  "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to  "Sign in", new_user_session_path %>
<% end %>
